<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head ></head>
<body>
	<header ></header>
	<table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Status</th>
			<th>Role</th>
            <th class="button-headers"></th>
        </tr>
        </thead>
		
        <tbody>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.status}"></td>
            <td>
            </td>
        </tr>
        </tbody>
	</table>
</body>
</html>